@page
@model IndexModel
@{
    ViewData["Title"] = "Bookster.";
}

<head>
   

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bookstore.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1 class ="display-4">Welcome to Bookster.</h1>
            <p>Not sure what to read next? 
                <br>Check out our extensive library and find your next favorite book.</p>
            <button id="explore" class="button-17" role="button">Explore Now</button>
        </div>
    </div>
</body>

