<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bookstore.styles.css" asp-append-version="true" />

    <style>
        .navbar-nav{
            display: flex;
            justify-content: center;
            color: #174ea6;
        }

        .icons{
            display: flex;
            list-style-type: none;
            margin-top: 14px;
            margin-left: auto;
            color: #174ea6;
        }

        .navbar-brand{
            font-family:'Courier New';
            font-weight: bold;
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="color: #174ea6; font-size:25px" asp-area="" asp-page="/Index">Bookster.</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Browse">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Locations">Stores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Contact">Contact</a>
                        </li>
                        
                    </ul>
                    <a class="icons" style="color: #0e2e63; display: inline-block; margin: 0; padding: 0;" class="nav-link" asp-area="" asp-page="Cart"><img src="/img/cart.jpg" style="width:100%; vertical-align: middle; float: right;"></a>
                    <a class="icons" style="color: #0e2e63; display: inline-block; margin: 0; padding: 0;" class="nav-link" asp-area="Identity" asp-page="Account/Profile"><img src="/img/user.png" style="width:65%; vertical-align: middle;"></a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @if (User.Identity.IsAuthenticated)
            {
                <form method="post" asp-area="Identity" asp-page="/Account/Logout" id="logoutForm" class="d-inline">
                    <button type="submit" class="btn btn-link text-muted">Logout</button>
                </form>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login" class="text-muted">Login -</a>
                <a asp-area="Identity" asp-page="/Account/Register" class="text-muted">Register</a>
            }
            - <a asp-area="" asp-page="/Privacy" class="text-muted">Privacy</a>
            - <a asp-area="" asp-page="/Refund" class="text-muted">Refund Policy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>